@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Proza+Libre&display=swap');

header {
  text-align: center;
  margin-bottom: 20px;
}

.Rapid-name {
  position: absolute;
  bottom: 20%;
  left: 36%;
}
.Rapid-name h1 {
  text-align: center;
  color: white;
  font-size: 5rem;
  background-color: rgb(40, 39, 39);
  opacity: 80%;
  font-weight: 600;
}
.whw-container {
  margin: 150px 80px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 100px;
}
.whw-text h1 {
  margin: 0px 50px;
  font-size: 30px;

  color: aliceblue;
}
.whw-text p {
  margin: 20px 50px;
  padding-right: 20%;
  font-size: 25px;
  position: relative;
  font-family: 'Inter', sans-serif;
  color: antiquewhite;
}
.whw-container img {
  width: 60%;
  height: 500px;
  margin: 20px 10px;
  margin-top: 70px;
}
.full-length-photo {
  margin: 40px 0px;
  position: relative;
}

.full-length-photo img {
  width: 100%;
  height: 700px;
}

.Main-head {
  margin: 100px;
}

.Main-head h1 {
  text-align: center;
  margin: 20px 10%;
  font-size: 45px;
  color: aliceblue;
}
.Main-head h2 {
  text-align: center;
  margin: 30px 10%;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  color: antiquewhite;
}

.photo-row {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.photo-box {
  padding: 0px 30px;
}

.photo-box h1 {
  margin: 40px;
  font-size: 23px;

  color: antiquewhite;
  text-align: center;
}
.photo-box button {
  transform: translateX(+110%);
  background-color: antiquewhite;
  border-radius: 5px;
  color: black;
  padding: 13px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.photo-box button:hover {
  background-color: goldenrod;
}
.photo-box img {
  width: 400px;
  height: 350px;
}

/* CSS for media Screen  */

@media (max-width: 767px) {
  .Rapid-name {
    position: absolute;
    bottom: 10%;
    left: 15%;
    text-align: center;
    margin-bottom: 20px;
  }
  .Rapid-name h1 {
    font-size: 3rem;
    opacity: 1;
  }
  .whw-container {
    flex-direction: column;
    margin: 50px 20px;
  }
  .whw-text h1 {
    margin: 0;
    font-size: 20px;
  }
  .whw-text p {
    margin: 10px 0;
    padding: 0;
    font-size: 15px;
    position: static;
  }
  .whw-container img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  .full-length-photo {
    margin: 20px 0;
  }
  .full-length-photo img {
    height: auto;
  }
  .Main-head {
    margin: 30px;
  }
  .Main-head h1 {
    margin: 20px 5%;
    font-size: 20px;
  }
  .Main-head h2 {
    margin: 20px 5%;
    font-size: 15px;
  }
  .photo-row {
    flex-direction: column;
    margin: 20px;
  }
  .photo-box {
    padding: 0;
    margin-bottom: 20px;
  }
  .photo-box h1 {
    margin: 20px;
    font-size: 18px;
  }
  .photo-box button {
    transform: none;
    margin: 10px auto;
    margin-left: 36%;
  }
  .photo-box img {
    width: 100%;
    height: auto;
  }
}

/* CSS for media Screen  */

/* About US Page Starts from below */

.Happening-name {
  position: absolute;
  bottom: 20%;
  left: 25%;
}
.Happening-name h1 {
  text-align: center;
  color: white;
  font-size: 6rem;

  font-weight: 600;
}
.full-length-photo {
  margin: 40px 0px;
  position: relative;
}

.full-length-photo img {
  width: 100%;
  height: 700px;
}

.Main-head {
  margin: 100px;
}

.Main-head h1 {
  text-align: center;
  margin: 20px 10%;
  font-size: 45px;
  color: aliceblue;
}
.Main-head h2 {
  text-align: center;
  margin: 30px 10%;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  color: antiquewhite;
}

.Team-container {
  margin: 60px 80px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 150px;
}
.Team-text h1 {
  margin: 0px 50px;
  font-size: 30px;
  font-size: 40px;
  color: aliceblue;
}
.Team-text p {
  margin: 20px 50px;
  padding-right: 20%;
  font-size: 35px;
  position: relative;
  font-family: 'Inter', sans-serif;
  color: antiquewhite;
}
.Team-container img {
  width: 400px;
  height: 350px;
}
/* Contact us Css starts from here  */

.form-container {
  display: flex;
}

.form-container .form-left {
  flex: 1;
}

.form-container,
.form-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.form-left,
form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  /* margin: 20px 30px; */
}

form,
input,
textarea {
  border: 1px solid #d0c3c3;
  border-radius: 4px;
  color: black;
}
.NameInput {
  padding: 20px;
}
.email {
  padding: 20px;
}
.msg {
  padding: 50px;
}

.form-left .submit-btn {
  padding: 10px 20px;
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.Contact .Contact-us {
  text-align: center;
  margin: 20px 10%;
  margin-top: 50px;
  font-size: 50px;
  color: aliceblue;
}
.Contact .Happen-Cont {
  text-align: center;
  margin: 20px 10%;
  font-size: 100px;
  color: aliceblue;
}

/* Footer start from below */

.footer-container {
  background-color: #1d1c1c;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer-section {
  flex: 1;
  margin-left: 210px;
}

.footer-section h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  text-decoration: none;
  color: #fffbfb;
}

.footer-section a:hover {
  text-decoration: underline;
}

body {
  background-color: black;
  color: aliceblue;
}
